workflow-agente-principal.json

{
  "name": "[AGENTE] Lógica Principal de Resposta",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -20,
        340
      ]
    },
    {
      "parameters": {
        "path": "agent-webhook",
        "options": {}
      },
      "name": "Webhook: Recebe Mensagem (WhatsApp)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        340
      ],
      "webhookId": "7a8b9c0d-1e2f-3a4b-5c6d-7e8f9a0b1c2d",
      "notes": "Este é o ponto de entrada do seu agente. Configure sua API de WhatsApp (ex: Baileys API) para enviar as mensagens recebidas para esta URL.\\n\\nPara usar um agente específico, envie o parâmetro `agent_id` no corpo (body) da requisição."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM agents WHERE is_default = true LIMIT 1;"
      },
      "name": "DB: Carregar Agente Padrão",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2560,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "YOUR_DB_CREDENTIALS_ID",
          "name": "Postgres credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const labels = $json.payload.map(label => label.title);\nconst agentLabel = labels.find(label => label.startsWith('agent:'));\n\nlet agentName = '';\nif (agentLabel) {\n  agentName = agentLabel.split(':')[1];\n}\n\nreturn { agentName, labels };"
      },
      "name": "Código: Extrair Label do Agente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2320,
        -100
      ]
    },
    {
      "parameters": {
        "url": "={{$env.CHATWOOT_URL}}/api/v1/accounts/{{$env.CHATWOOT_ACCOUNT_ID}}/conversations/{{$node[\"Merge\"].json.conversationId}}",
        "authentication": "headerAuth",
        "options": {}
      },
      "name": "Chatwoot: Obter Detalhes da Conversa (Labels)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2100,
        340
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CHATWOOT_CREDENTIALS_ID",
          "name": "Chatwoot API credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const conversations = $json.payload;\n// Pega a conversa mais recente\nconst latestConversation = conversations.sort((a, b) => b.id - a.id)[0];\n\nreturn {\n  conversationId: latestConversation.id\n}"
      },
      "name": "Set Conversation ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1660,
        180
      ]
    },
    {
      "parameters": {
        "url": "={{$env.CHATWOOT_URL}}/api/v1/accounts/{{$env.CHATWOOT_ACCOUNT_ID}}/contacts/{{$node[\"Set Contact Info (Existing)\"].json.contactId}}/conversations",
        "authentication": "headerAuth",
        "options": {}
      },
      "name": "Chatwoot: Listar Conversas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1460,
        180
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CHATWOOT_CREDENTIALS_ID",
          "name": "Chatwoot API credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const contactData = $json.payload[0];\n\nreturn {\n  contactId: contactData.id\n}"
      },
      "name": "Set Contact Info (Existing)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1260,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const contactData = $json.payload;\n\nreturn {\n  contactId: contactData.id,\n  conversationId: contactData.contact_inbox.conversation_id\n}\n"
      },
      "name": "Set Contact Info (New)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1660,
        500
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO leads (id, name, status) VALUES ('{{$node[\"Webhook: Recebe Mensagem (WhatsApp)\"].json.body.sender.remoteJid}}', '{{$node[\"Webhook: Recebe Mensagem (WhatsApp)\"].json.body.sender.pushName}}', 'novo');"
      },
      "name": "DB: Insert Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1460,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "YOUR_DB_CREDENTIALS_ID",
          "name": "Postgres credentials"
        }
      },
      "notes": "Insere um novo registro na tabela 'leads' para tracking no dashboard."
    },
    {
      "parameters": {
        "url": "={{$env.CHATWOOT_URL}}/api/v1/accounts/{{$env.CHATWOOT_ACCOUNT_ID}}/contacts",
        "authentication": "headerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inbox_id",
              "value": "={{$env.CHATWOOT_WHATSAPP_INBOX_ID}}"
            },
            {
              "name": "name",
              "value": "={{$node[\"Webhook: Recebe Mensagem (WhatsApp)\"].json.body.sender.pushName}}"
            },
            {
              "name": "phone_number",
              "value": "=+{{$node[\"Webhook: Recebe Mensagem (WhatsApp)\"].json.body.sender.remoteJid}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Chatwoot: Criar Contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1260,
        500
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CHATWOOT_CREDENTIALS_ID",
          "name": "Chatwoot API credentials"
        }
      },
      "notes": "Cria um novo contato no Chatwoot se ele não for encontrado.\\n\\n**Variável de Ambiente Necessária:**\\n- `CHATWOOT_WHATSAPP_INBOX_ID`"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.meta.count}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "name": "IF: Contato Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1060,
        340
      ]
    },
    {
      "parameters": {
        "url": "={{$env.CHATWOOT_URL}}/api/v1/accounts/{{$env.CHATWOOT_ACCOUNT_ID}}/contacts/search",
        "authentication": "headerAuth",
        "options": {},
        "queryParameters": {
          "q": "={{$node[\"Webhook: Recebe Mensagem (WhatsApp)\"].json.body.sender.remoteJid}}"
        }
      },
      "name": "Chatwoot: Buscar Contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        840,
        340
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CHATWOOT_CREDENTIALS_ID",
          "name": "Chatwoot API credentials"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT is_active FROM agent_config WHERE id = 1;"
      },
      "name": "DB: Verificar Status do Fluxo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        420,
        340
      ],
      "credentials": {
        "postgres": {
          "id": "YOUR_DB_CREDENTIALS_ID",
          "name": "Postgres credentials"
        }
      },
      "notes": "Busca o prompt e outras configurações do banco de dados Supabase.\\n\\nPara o Supabase, vá em Project Settings > Database > Connection string e use os detalhes do 'URI'."
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"DB: Verificar Status do Fluxo\"].json.is_active}}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF: Fluxo está Ativo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        620,
        340
      ],
      "notes": "Verifica se o agente está ativo no banco de dados. Se não estiver, o fluxo é interrompido aqui."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Código: Extrair Label do Agente\"].json.agentName}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "name": "IF: Existe Label de Agente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2340,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM agents WHERE name = '{{$node[\"Código: Extrair Label do Agente\"].json.agentName}}';"
      },
      "name": "DB: Carregar Agente por Label",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2560,
        -100
      ],
      "credentials": {
        "postgres": {
          "id": "YOUR_DB_CREDENTIALS_ID",
          "name": "Postgres credentials"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$env.CHATWOOT_URL}}/api/v1/accounts/{{$env.CHATWOOT_ACCOUNT_ID}}/conversations/{{$node[\"Merge\"].json.conversationId}}/messages",
        "authentication": "headerAuth",
        "options": {}
      },
      "name": "Chatwoot: Obter Mensagens da Conversa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2980,
        -100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CHATWOOT_CREDENTIALS_ID",
          "name": "Chatwoot API credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pega as últimas 10 mensagens e formata\nconst messages = $json.payload;\n\nconst history = messages\n  .filter(msg => msg.content) // Filtra mensagens sem conteúdo (ex: activity messages)\n  .slice(-10)\n  .map(msg => {\n    let prefix;\n    if (msg.private) {\n      prefix = 'NOTA INTERNA:';\n    } else if (msg.message_type === 'incoming') {\n      prefix = 'Cliente:';\n    } else {\n      prefix = 'Agente:';\n    }\n    return `${prefix} ${msg.content}`;\n}).join('\\n');\n\nreturn { history };"
      },
      "name": "Código: Formatar Histórico",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3200,
        -100
      ]
    },
    {
      "parameters": {
        "delay": "={{$node[\"Merge Agent Prompt\"].json.wait_time}}",
        "unit": "seconds"
      },
      "name": "Wait (Tempo de Espera)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4080,
        640
      ],
      "notes": "Aguarda o tempo definido na configuração do agente antes de prosseguir. O valor é pego da coluna 'waitTime' do banco de dados."
    },
    {
      "parameters": {
        "model": "gemini-2.5-flash",
        "prompt": "={{$node[\"Merge Agent Prompt\"].json.prompt}}\\n\\nHISTÓRICO DA CONVERSA RECENTE:\\n{{$node[\"Código: Formatar Histórico\"].json.history || 'Nenhum histórico encontrado.'}}\\n\\nNOVA MENSGEM DO CLIENTE:\\n{{$node[\"Webhook: Recebe Mensagem (WhatsApp)\"].json.body.data.message.conversation}}",
        "options": {}
      },
      "name": "IA: Gerar Resposta",
      "type": "n8n-nodes-base.googleGemini",
      "typeVersion": 1,
      "position": [
        4400,
        640
      ],
      "notes": "Usa o prompt do agente correto, o histórico e a mensagem do cliente para gerar uma resposta."
    },
    {
      "parameters": {
        "url": "={{$env.BAILEYS_API_URL}}/message/sendText",
        "authentication": "headerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{$node[\"Webhook: Recebe Mensagem (WhatsApp)\"].json.body.sender.remoteJid}}"
            },
            {
              "name": "textMessage",
              "value": {
                "__rl": true,
                "value": "={{$node[\"IA: Gerar Resposta\"].json.candidates[0].content.parts[0].text}}",
                "mode": "json"
              }
            }
          ]
        },
        "options": {}
      },
      "name": "Baileys: Enviar Resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4620,
        640
      ],
      "notes": "Envia a resposta gerada pela IA de volta para o cliente via API Baileys.\\n\\n**Variáveis de Ambiente Necessárias:**\\n- `BAILEYS_API_URL`\\n\\n**Credenciais Necessárias:**\\n- Crie credenciais 'Header Auth' com:\\n  - Name: `apikey`\\n  - Value: `{{$env.BAILEYS_API_KEY}}`",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_BAILEYS_API_KEY_ID",
          "name": "Baileys API Key"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$env.CHATWOOT_URL}}/api/v1/accounts/{{$env.CHATWOOT_ACCOUNT_ID}}/conversations/{{$node[\"Merge\"].json.conversationId}}/messages",
        "authentication": "headerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{$node[\"Webhook: Recebe Mensagem (WhatsApp)\"].json.body.data.message.conversation}}"
            },
            {
              "name": "message_type",
              "value": "incoming"
            },
            {
              "name": "private",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "name": "Chatwoot: Registrar Mensagem do Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        4840,
        800
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CHATWOOT_CREDENTIALS_ID",
          "name": "Chatwoot API credentials"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$env.CHATWOOT_URL}}/api/v1/accounts/{{$env.CHATWOOT_ACCOUNT_ID}}/conversations/{{$node[\"Merge\"].json.conversationId}}/messages",
        "authentication": "headerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{$node[\"IA: Gerar Resposta\"].json.candidates[0].content.parts[0].text}}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "name": "Chatwoot: Registrar Resposta do Agente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        4840,
        480
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CHATWOOT_CREDENTIALS_ID",
          "name": "Chatwoot API credentials"
        }
      }
    },
    {
      "parameters": {
        "mode": "mergeByPosition",
        "options": {}
      },
      "name": "Merge Agent Prompt",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1.1,
      "position": [
        2780,
        -100
      ]
    },
    {
      "parameters": {
        "mode": "mergeByPosition",
        "options": {}
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1.1,
      "position": [
        1880,
        340
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT name, description FROM agents WHERE is_default = false AND is_active = true;"
      },
      "name": "DB: Listar Agentes Especialistas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        3620,
        -100
      ],
      "credentials": {
        "postgres": {
          "id": "YOUR_DB_CREDENTIALS_ID",
          "name": "Postgres credentials"
        }
      }
    },
    {
      "parameters": {
        "model": "gemini-2.5-flash",
        "prompt": "Você é um roteador de intenções para uma clínica. Sua função é analisar a mensagem do cliente e o histórico da conversa para decidir qual agente especialista deve assumir. Se a conversa for um cumprimento, uma pergunta genérica, ou não se encaixar claramente em nenhum especialista, o atendimento deve continuar com o agente padrão (Orquestrador).\\n\\nOs especialistas disponíveis são:\\n{{$node[\"DB: Listar Agentes Especialistas\"].json.map(item => `- ${item.name}: ${item.description}`).join('\\n')}}\\n\\nAnalise o contexto e responda APENAS com o nome do agente que deve atender. Se a conversa deve continuar com o agente padrão, responda 'Orquestrador'.\\n\\nHISTÓRICO DA CONVERSA:\\n{{$node[\"Código: Formatar Histórico\"].json.history || 'Nenhum histórico.'}}\\n\\nNOVA MENSAGEM DO CLIENTE:\\n{{$node[\"Webhook: Recebe Mensagem (WhatsApp)\"].json.body.data.message.conversation}}",
        "options": {}
      },
      "name": "IA: Roteador de Intenção",
      "type": "n8n-nodes-base.googleGemini",
      "typeVersion": 1,
      "position": [
        3840,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"IA: Roteador de Intenção\"].json.candidates[0].content.parts[0].text}}",
              "operation": "notEquals",
              "value2": "Orquestrador",
              "options": {
                "caseSensitive": false
              }
            }
          ]
        }
      },
      "name": "IF: Roteamento para Especialista?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4060,
        -100
      ]
    },
    {
      "parameters": {
        "model": "gemini-2.5-flash",
        "prompt": "Resuma a conversa abaixo de forma concisa para um colega especialista que vai assumir o atendimento. Foque no problema principal do cliente e no que já foi discutido.\\n\\nHISTÓRICO:\\n{{$node[\"Código: Formatar Histórico\"].json.history}}",
        "options": {}
      },
      "name": "IA: Gerar Resumo para Handover",
      "type": "n8n-nodes-base.googleGemini",
      "typeVersion": 1,
      "position": [
        4280,
        -220
      ]
    },
    {
      "parameters": {
        "url": "={{$env.CHATWOOT_URL}}/api/v1/accounts/{{$env.CHATWOOT_ACCOUNT_ID}}/conversations/{{$node[\"Merge\"].json.conversationId}}/messages",
        "authentication": "headerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{$node[\"IA: Gerar Resumo para Handover\"].json.candidates[0].content.parts[0].text}}"
            },
            {
              "name": "private",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "name": "Chatwoot: Postar Nota Privada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        4500,
        -220
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CHATWOOT_CREDENTIALS_ID",
          "name": "Chatwoot API credentials"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$env.CHATWOOT_URL}}/api/v1/accounts/{{$env.CHATWOOT_ACCOUNT_ID}}/conversations/{{$node[\"Merge\"].json.conversationId}}/labels",
        "authentication": "headerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "labels[]",
              "value": "=agent:{{$node[\"IA: Roteador de Intenção\"].json.candidates[0].content.parts[0].text.trim()}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Chatwoot: Adicionar Label de Roteamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        4720,
        -220
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CHATWOOT_CREDENTIALS_ID",
          "name": "Chatwoot API credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return { \n  candidates: [\n    {\n      content: {\n        parts: [\n          {\n            text: `Um momento, estou te transferindo para o nosso especialista do setor ${$node[\"IA: Roteador de Intenção\"].json.candidates[0].content.parts[0].text.trim()}.`\n          }\n        ]\n      }\n    }\n  ]\n}"
      },
      "name": "Set: Mensagem de Transferência",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        4940,
        -220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"Merge Agent Prompt\"].json.is_default}}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF: Agente é Padrão (Orquestrador)?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3400,
        -100
      ]
    },
    {
      "parameters": {
        "model": "gemini-2.5-flash",
        "prompt": "Analise a resposta do agente e o histórico da conversa. A tarefa principal do especialista foi concluída com esta resposta? Responda APENAS 'sim' ou 'não'.\\n\\nHISTÓRICO:\\n{{$node[\"Código: Formatar Histórico\"].json.history}}\\n\\nRESPOSTA DO AGENTE:\\n{{$node[\"IA: Gerar Resposta\"].json.candidates[0].content.parts[0].text}}",
        "options": {}
      },
      "name": "IA: Verificar Conclusão da Tarefa",
      "type": "n8n-nodes-base.googleGemini",
      "typeVersion": 1,
      "position": [
        4840,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"IA: Verificar Conclusão da Tarefa\"].json.candidates[0].content.parts[0].text}}",
              "operation": "contains",
              "value2": "sim",
              "options": {
                "caseSensitive": false
              }
            }
          ]
        }
      },
      "name": "IF: Tarefa Concluída?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5060,
        640
      ]
    },
    {
      "parameters": {
        "url": "={{$env.CHATWOOT_URL}}/api/v1/accounts/{{$env.CHATWOOT_ACCOUNT_ID}}/conversations/{{$node[\"Merge\"].json.conversationId}}/labels",
        "method": "DELETE",
        "authentication": "headerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "labels[]",
              "value": "=agent:{{$node[\"Merge Agent Prompt\"].json.name}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Chatwoot: Remover Label de Escalação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        5280,
        540
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CHATWOOT_CREDENTIALS_ID",
          "name": "Chatwoot API credentials"
        }
      }
    },
    {
      "parameters": {
        "model": "gemini-2.5-flash",
        "prompt": "Analise o texto a seguir e extraia as seguintes informações se estiverem presentes: nome completo da pessoa (name), endereço de e-mail (email), e o principal produto ou serviço de interesse (product_interest). Se uma informação não for encontrada, deixe o campo correspondente vazio. Responda apenas com o JSON.\n\nTexto: {{$node[\"Webhook: Recebe Mensagem (WhatsApp)\"].json.body.data.message.conversation}}",
        "options": {
          "responseMimeType": "application/json",
          "responseSchema": {
            "type": "OBJECT",
            "properties": {
              "name": {
                "type": "STRING"
              },
              "email": {
                "type": "STRING"
              },
              "product_interest": {
                "type": "STRING"
              }
            }
          }
        }
      },
      "name": "IA: Extrair Entidades",
      "type": "n8n-nodes-base.googleGemini",
      "typeVersion": 1,
      "position": [
        5060,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "const entities = JSON.parse($json.candidates[0].content.parts[0].text);\nconst custom_attributes = {};\n\nif (entities.name) {\n  custom_attributes.nome_completo = entities.name;\n}\nif (entities.email) {\n  custom_attributes.email = entities.email;\n}\nif (entities.product_interest) {\n  custom_attributes.produto_interesse = entities.product_interest;\n}\n\n// Return the object only if it has keys\nif (Object.keys(custom_attributes).length > 0) {\n    return { custom_attributes };\n}\n\nreturn { custom_attributes: null };"
      },
      "name": "Código: Preparar Atributos Customizados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        5280,
        140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.custom_attributes}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "IF: Atributos Extraídos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5500,
        140
      ]
    },
    {
      "parameters": {
        "url": "={{$env.CHATWOOT_URL}}/api/v1/accounts/{{$env.CHATWOOT_ACCOUNT_ID}}/contacts/{{$node[\"Merge\"].json.contactId}}",
        "method": "PATCH",
        "authentication": "headerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"custom_attributes\": {{$node[\"Código: Preparar Atributos Customizados\"].json.custom_attributes}}}",
        "options": {}
      },
      "name": "Chatwoot: Atualizar Atributos do Contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        5720,
        140
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CHATWOOT_CREDENTIALS_ID",
          "name": "Chatwoot API credentials"
        }
      }
    },
    {
      "parameters": {
        "model": "gemini-2.5-flash",
        "prompt": "Classifique o sentimento do seguinte texto como 'positivo', 'neutro' ou 'negativo'. Responda APENAS com uma dessas três palavras em minúsculo.\n\nTexto: {{$node[\"Webhook: Recebe Mensagem (WhatsApp)\"].json.body.data.message.conversation}}",
        "options": {}
      },
      "name": "IA: Analisar Sentimento",
      "type": "n8n-nodes-base.googleGemini",
      "typeVersion": 1,
      "position": [
        5060,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const currentLabels = $node[\"Código: Extrair Label do Agente\"].json.labels;\nconst newSentiment = $json.candidates[0].content.parts[0].text.trim().toLowerCase();\n\n// Filter out any old sentiment labels\nconst otherLabels = currentLabels.filter(label => !label.startsWith('sentiment:'));\n\n// Add the new sentiment label\nconst newLabels = [...otherLabels, `sentiment:${newSentiment}`];\n\nreturn { labels: newLabels };"
      },
      "name": "Código: Preparar Labels de Sentimento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        5280,
        480
      ]
    },
    {
      "parameters": {
        "url": "={{$env.CHATWOOT_URL}}/api/v1/accounts/{{$env.CHATWOOT_ACCOUNT_ID}}/conversations/{{$node[\"Merge\"].json.conversationId}}/labels",
        "authentication": "headerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "labels[]",
              "value": "={{$node[\"Código: Preparar Labels de Sentimento\"].json.labels}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Chatwoot: Atualizar Labels da Conversa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        5500,
        480
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CHATWOOT_CREDENTIALS_ID",
          "name": "Chatwoot API credentials"
        }
      }
    }
  ],
  "connections": {
    "Webhook: Recebe Mensagem (WhatsApp)": {
      "main": [
        [
          {
            "node": "DB: Verificar Status do Fluxo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Carregar Agente Padrão": {
      "main": [
        [
          {
            "node": "Merge Agent Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Código: Extrair Label do Agente": {
      "main": [
        [
          {
            "node": "IF: Existe Label de Agente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot: Obter Detalhes da Conversa (Labels)": {
      "main": [
        [
          {
            "node": "Código: Extrair Label do Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Conversation ID": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot: Listar Conversas": {
      "main": [
        [
          {
            "node": "Set Conversation ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Contact Info (Existing)": {
      "main": [
        [
          {
            "node": "Chatwoot: Listar Conversas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Contact Info (New)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Insert Lead": {
      "main": [
        [
          {
            "node": "Set Contact Info (New)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot: Criar Contato": {
      "main": [
        [
          {
            "node": "DB: Insert Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Contato Existe?": {
      "main": [
        [
          {
            "node": "Set Contact Info (Existing)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chatwoot: Criar Contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot: Buscar Contato": {
      "main": [
        [
          {
            "node": "IF: Contato Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Verificar Status do Fluxo": {
      "main": [
        [
          {
            "node": "IF: Fluxo está Ativo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Fluxo está Ativo?": {
      "main": [
        [
          {
            "node": "Chatwoot: Buscar Contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Existe Label de Agente?": {
      "main": [
        [
          {
            "node": "DB: Carregar Agente por Label",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB: Carregar Agente Padrão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Carregar Agente por Label": {
      "main": [
        [
          {
            "node": "Merge Agent Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot: Obter Mensagens da Conversa": {
      "main": [
        [
          {
            "node": "Código: Formatar Histórico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Código: Formatar Histórico": {
      "main": [
        [
          {
            "node": "IF: Agente é Padrão (Orquestrador)?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Tempo de Espera)": {
      "main": [
        [
          {
            "node": "IA: Gerar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA: Gerar Resposta": {
      "main": [
        [
          {
            "node": "Baileys: Enviar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baileys: Enviar Resposta": {
      "main": [
        [
          {
            "node": "Chatwoot: Registrar Resposta do Agente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chatwoot: Registrar Mensagem do Cliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "IA: Verificar Conclusão da Tarefa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot: Registrar Resposta do Agente": {
      "main": [
        [
          {
            "node": "IA: Extrair Entidades",
            "type": "main",
            "index": 0
          },
          {
            "node": "IA: Analisar Sentimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Agent Prompt": {
      "main": [
        [
          {
            "node": "Chatwoot: Obter Mensagens da Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Chatwoot: Obter Detalhes da Conversa (Labels)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Listar Agentes Especialistas": {
      "main": [
        [
          {
            "node": "IA: Roteador de Intenção",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA: Roteador de Intenção": {
      "main": [
        [
          {
            "node": "IF: Roteamento para Especialista?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Roteamento para Especialista?": {
      "main": [
        [
          {
            "node": "IA: Gerar Resumo para Handover",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait (Tempo de Espera)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA: Gerar Resumo para Handover": {
      "main": [
        [
          {
            "node": "Chatwoot: Postar Nota Privada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot: Postar Nota Privada": {
      "main": [
        [
          {
            "node": "Chatwoot: Adicionar Label de Roteamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot: Adicionar Label de Roteamento": {
      "main": [
        [
          {
            "node": "Set: Mensagem de Transferência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Mensagem de Transferência": {
      "main": [
        [
          {
            "node": "IA: Gerar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Agente é Padrão (Orquestrador)?": {
      "main": [
        [
          {
            "node": "DB: Listar Agentes Especialistas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait (Tempo de Espera)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA: Verificar Conclusão da Tarefa": {
      "main": [
        [
          {
            "node": "IF: Tarefa Concluída?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Tarefa Concluída?": {
      "main": [
        [
          {
            "node": "Chatwoot: Remover Label de Escalação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA: Extrair Entidades": {
      "main": [
        [
          {
            "node": "Código: Preparar Atributos Customizados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Código: Preparar Atributos Customizados": {
      "main": [
        [
          {
            "node": "IF: Atributos Extraídos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Atributos Extraídos?": {
      "main": [
        [
          {
            "node": "Chatwoot: Atualizar Atributos do Contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA: Analisar Sentimento": {
      "main": [
        [
          {
            "node": "Código: Preparar Labels de Sentimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Código: Preparar Labels de Sentimento": {
      "main": [
        [
          {
            "node": "Chatwoot: Atualizar Labels da Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}